<template>
  <div>
    <swiper class="swiper" :options="swiperOption">
      <swiper-slide class="text">
        <div>
            实现中华民族伟大复兴，一刻也不能没有理论思维；认识和改造客观世界，一刻也离不开马克思主义这一强大思想武器。

“新时代，中国共产党人仍然要学习马克思，学习和实践马克思主义，不断从中汲取科学智慧和理论力量。”在纪念马克思诞辰200周年大会上，习近平总书记要求全党同志特别是各级领导干部要更加自觉、更加刻苦地学习马克思列宁主义，学习毛泽东思想、邓小平理论、“三个代表”重要思想、科学发展观，学习新时代中国特色社会主义思想。要深入学、持久学、刻苦学，带着问题学、联系实际学，更好把科学思想理论转化为认识世界、改造世界的强大物质力量。总书记的重要讲话，为我们学习和实践马克思主义、进一步用科学理论武装头脑提供了方法和指南。

中国共产党是用马克思主义武装起来的政党，马克思主义是中国共产党人理想信念的灵魂。历史与实践充分证明，中国共产党虽历经艰难困苦而不断发展壮大，一个重要原因就是始终重视思想建党、理论强党。新时代，中国共产党人要把读马克思主义经典、悟马克思主义原理当作一种生活习惯、精神追求，用经典涵养正气、淬炼思想、升华境界、指导实践。

马克思主义思想理论博大精深、常学常新。新时代我们学习马克思，要像习近平总书记所要求的，学习和实践马克思主义关于人类社会发展规律的思想、关于坚守人民立场的思想、关于生产力和生产关系的思想、关于人民民主的思想、关于文化建设的思想、关于社会建设的思想、关于人与自然关系的思想、关于世界历史的思想、关于马克思主义政党建设的思想。坚持系统地而不是零碎地、实际地而不是空洞地学，以更宽广的视野、更长远的眼光来思考把握未来发展面临的一系列重大问题，我们就一定能更有定力、更有自信、更有智慧地坚持和发展新时代中国特色社会主义，确保中华民族伟大复兴的巨轮始终沿着正确航向破浪前行。

实践的观点、生活的观点是马克思主义认识论的基本观点，实践性是马克思主义理论区别于其他理论的显著特征。只有坚持学以致用、用以促学，原原本本学，熟读精思、学深悟透，才能熟练掌握马克思主义立场、观点、方法，不断提高马克思主义理论素养。问题是事物矛盾的表现形式，只有不断强化问题意识、坚持问题导向，聚焦我国改革开放和社会主义现代化建设面临的重大现实问题、全局性战略问题、人民群众关心关注的热点难点问题，自觉运用马克思主义深入分析现实问题，我们才能为解决问题提供新理念、新思路、新办法。

“中国共产党人依靠学习走到今天，也必然要依靠学习走向未来。”不断汲取马克思主义的科学智慧和理论力量，不断提高全党运用马克思主义基本原理解决当代中国实际问题的能力和水平，进行伟大斗争、建设伟大工程、推进伟大事业、实现伟大梦想，我们将谱写新时代坚持和发展中国特色社会主义新篇章。
        </div>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import {swiper, swiperSlide} from 'vue-awesome-swiper'
export default {
  data () {
    return {
      swiperOption: {
        direction: 'vertical',
        slidesPerView: 'auto',
        freeMode: true,
        mousewheel: true
      }
    }
  },
  components: {swiper, swiperSlide}
}
</script>

<style scoped>
.swiper{
  overflow:hidden;
  height:300px;
}
.text{
  height: auto;
  padding:30px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  text-align: left;
  font-size:18px;
}
</style>
