<template>
  <div>
    <!-- S search bar layout -->
    <div class="search-bar">
      <van-row>
        <van-col span="3"><img :src="locationIcon" width="100%" /></van-col>
        <van-col span="16">
          <input type="text" class="search-input"/>
        </van-col>
        <van-col span="5"><van-button size="mini">查找</van-button></van-col>
      </van-row>
    </div>
    <!-- E search bar layout -->

    <!-- S swipwer area -->
    <x-swiper :bannerPicArray="bannerPicArray"></x-swiper>
    <!-- E swiper area -->

    <!-- S type bar -->
    <div class="type-bar">
      <div  v-for="(cate,index) in category" :key="index" >
          <img v-lazy="cate.image" width="90%" />
          <span>{{cate.mallCategoryName}}</span>
      </div>
    </div>
    <!-- E type bar -->

    <!-- S AD banner area -->
    <div class="ad-banner">
      <img v-lazy="adBanner" width="100%">
    </div>
    <!-- E AD banner area -->

    <!-- S Recomend goods area -->
    <div class="recommend-area">
      <div class="recommend-title">
        商品推荐
      </div>
      <div class="recommend-body">
        <swiper :options="swiperOption">
          <swiper-slide v-for="(item, index) in recommendGoods" :key="index">
            <div class= "recommend-item">
              <img v-lazy="item.image" alt="" width="100%">
              <div>{{item.goodsName}}</div>
              <div>￥{{item.price | moneyFilter}}￥{{item.mallPrice | moneyFilter}}</div>
            </div>
          </swiper-slide>
        </swiper>
      </div>
    </div>
    <!-- E Recomend goods area -->

    <!-- S floor -->
    <floor-component :floorData="floor1" :floorTitle="floorName.floor1"></floor-component>
    <floor-component :floorData="floor2" :floorTitle="floorName.floor2"></floor-component>
    <floor-component :floorData="floor3" :floorTitle="floorName.floor3"></floor-component>
    <!-- E floor -->

    <!-- S hot area-->
    <div class="hot-area">
      <div class="hot-title">热卖商品</div>
      <div class="hot-goods">
        <!-- 这里放list列表组件 -->
        <van-list>
          <van-row :gutter="20">
            <van-col span="12" v-for="(item , index) in hotGoods" :key="index">
              <goods-info :goodsId="item.goodsId" :goodsImage="item.image" :goodsName="item.name" :goodsPrice="item.price">
              </goods-info>
            </van-col>
          </van-row>
        </van-list>
      </div>
    </div>
    <!-- E hot area-->
  </div>
</template>

<script>
import axios from 'axios'
import {swiper, swiperSlide} from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'
import XSwiper from '../component/swiper'
import floorComponent from '../component/floorComponent'
import goodsInfo from '../component/goodsInfoComponent'
import {toMoney} from '@/filter/moneyFilter'
import url from '@/serviceAPI.config.js'
export default {
  data () {
    return {
      swiperOption: {
        slidesPerView: 3
      },
      category: [],
      adBanner: [],
      locationIcon: require('../../assets/images/location.png'),
      bannerPicArray: [
        {imageUrl: 'https://xonlystar.github.io/PublicShare/images/smilevue/simleVueDemoPic001.jpg'},
        {imageUrl: 'https://xonlystar.github.io/PublicShare/images/smilevue/simleVueDemoPic002.jpg'},
        {imageUrl: 'https://xonlystar.github.io/PublicShare/images/smilevue/simleVueDemoPic003.jpg'}
      ],
      recommendGoods: [],
      floor1: [],
      floor2: [],
      floor3: [],
      floorName: {},
      hotGoods: [] // 热卖商品
    }
  },
  components: {swiper, swiperSlide, XSwiper, floorComponent, goodsInfo},
  filters: {
    moneyFilter (money) {
      return toMoney(money)
    }
  },
  created () {
    axios({
      url: url.getShopingMallInfo,
      method: 'get'
    }).then(response => {
      console.log(response)
      if (response.status === 200) {
        this.category = response.data.data.category
        this.adBanner = response.data.data.advertesPicture.PICTURE_ADDRESS // 获得广告图片
        this.bannerPicArray = response.data.data.slides // 轮播图片
        this.recommendGoods = response.data.data.recommend
        this.floor1 = response.data.data.floor1
        this.floor2 = response.data.data.floor2
        this.floor3 = response.data.data.floor3
        this.floorName = response.data.data.floorName
        this.hotGoods = response.data.data.hotGoods
      }
    }).catch((error) => {
      console.log(error)
    })
  }
}
</script>

<style scoped>
.search-bar{
  overflow: hidden;
  height: 2.2rem;
  line-height: 2.2rem;
  background-color: #e5017d;
}
.search-input{
  width: 100%;
  height: 1.3rem;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px solid 1px !important ;
  border-left: 0px;
  background-color: #e5017d;
  color: #fff;
}
.location-icon{
  padding-top: .2rem;
  padding-left: .3rem;
}
.type-bar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 .3rem .3rem .3rem;
  border-radius: .3rem;
  background-color: #fff;
  font-size: 14px;
}
.type-bar>div{
  flex: 1;
  padding: .3rem;
  text-align: center;
  font-size: 12px;
}
.recommend-area {
  margin-top: .3rem;
  background-color: #fff;
}
.recommend-title {
  padding: .2rem;
  border-bottom: 1px solid #eee;
  color: #e5017d;
  font-size: 14px;
}
.recommend-body{
  border-bottom:1px solid #eee;
}
.recommend-item{
  width:99%;
  border-right:1px solid #eee;
  text-align: center;
  font-size:12px;
}
.hot-area {
  height: 1.8rem;
  line-height: 1.8rem;
  text-align: center;
  font-size: 14px;
}
.hot-goods {
  overflow: hidden;
  height: 130rem;
  background-color: #fff;
}
</style>
