<template>
  <div class="swiper-area">
    <van-swipe :autoplay="1000">
      <van-swipe-item v-for="(banner,index) in bannerPicArray" :key="index">
        <!-- <img v-lazy="banner.imageUrl" width="100%"/> -->
        <img v-lazy="banner.image" width="100%"/>
      </van-swipe-item>
    </van-swipe>
  </div>
</template>

<script>
export default {
  props: ['bannerPicArray']
}
</script>

<style scoped>
.swiper-area{
  overflow: hidden;
  height: 9rem;
  clear: both;
}
</style>
